/* MantineUI CSS */
@import '@mantine/core/styles.css';
@import '@mantine/dates/styles.css';
@import '@mantine/notifications/styles.css';
@import '@mantine/code-highlight/styles.css';
@import '@mantine/tiptap/styles.css';
@import '@mantine/dropzone/styles.css';
@import '@mantine/carousel/styles.css';
@import '@mantine/spotlight/styles.css';
@import '@mantine/nprogress/styles.css';

/* カスタムグローバルスタイル */
:root {
	/* フォントサイズを老眼対応で再定義 */
	--font-size-xs: 1.5rem;
	--font-size-sm: 1.725rem;
	--font-size-base: 2rem;
	--font-size-lg: 2.5rem;
	--font-size-xl: 2.75rem;
	--font-size-2xl: 3rem;
	--font-size-3xl: 3.25rem;
	--font-size-4xl: 3.5rem;
}

:root {
	font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light;
	color: #213547;
	background-color: #ffffff;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body {
	margin: 0;
	min-width: 320px;
	min-height: 100vh;
	background-color: #f8f9fa;
}

button {
	font-family: inherit;
	cursor: pointer;
}
